<!DOCTYPE html>


<html lang="en">
{% load static%}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
  <link rel="stylesheet" href="{% static 'css/all.min.css'%}">
  
  <!-- <link rel="stylesheet" href="{% static 'css/fontawesome.min.css'%}"> -->
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css}"> -->
<!-- <link rel="stylesheet" href="{% static 'css/style.css'%}"> -->

</head>
<body>

    <style>
        .icon{
    
            text-decoration:none;
            
        }
    </style>


  <div class="container ">

   <div class="row py-2">
    <h2 class="text text-center text-primary "> Ajouter Produit</h2>
   </div>
   
   <div class="row">
    <div class="col-md-2" >
        <a  class="icon" data-bs-target="#fournisseur" data-bs-toggle="modal" href="#"> <i class="fas fa-plus "></i>Fournisseur</a>
        
        <!-- <input type="number" name="quantite" required id="quantite" class="form-control" placeholder=" Entrez la quantité"> -->
    </div>
    <div class="col-md-2" >

        <a  class="icon"  data-bs-target="#Supprimer" data-bs-toggle="modal"  href="#"> <i class="fas fa-plus "></i>Catégorie</a>
        
         <!-- <button type="button" id="ajout-cat"  title="Supprimer" data-bs-toggle="modal" data-bs-target="#Supprimer"> <i class="fas fa-plus "></i> Catégorie</button> -->
        
        <!-- <input type="number" name="quantite" required id="quantite" class="form-control" placeholder=" Entrez la quantité"> -->
    </div>
    
   </div>

    <div class="row py-5">
      <div class="col-md-12">
         <ul class="list-group" id="produit">
          
         </ul> 
  
              
          <form action="" method="post">
              {% csrf_token %}
  
              <div class="row">
                  <!-- <div class="col-md-12">
                      <input type="hidden" name="element" id="commande">
                  </div> -->
  
                  <div class="form-group col-md-6" >
                      <label for="nom">Nom</label>
                      {{form1.nom}}
                      <!-- <input type="text" name="nom" required id="nom" class="form-control" placeholder="Entrez le Libellé du Produit"> -->
                  </div>
                  <div class="form-group col-md-4" >
                      <label for="Email">Prix </label>
                      {{form1.prix}}
                      <!-- <input type="number" name="prix" required id="prix" class="form-control" placeholder="Entrez le prix unitaire"> -->
                  </div>
                  <div class="form-group col-md-2" >
                      <label for="Phone">Quantite</label>
                      {{form1.quantite}}
                      <!-- <input type="number" name="quantite" required id="quantite" class="form-control" placeholder=" Entrez la quantité"> -->
                  </div>
                  
              </div>
  
              <div class="row">
                  <div class="form-group col-md-6">
                      <label for="categorie">Catégorie</label>
                      {{form1.categorie}}
                        
                      <!-- <select name="categorie " class="form-control" required id="categorie">
                          <option>Chosissez une Categorie</option>
                          <option value="">{{form.categorie}}</option>
                           {% for n in categorie %}
                           <option value="{{n.pk}}"> {{n.nom}} </option>
                          {% endfor %}
                        
                      </select> -->
                  </div>
  
                  <div class="form-group col-md-6">
                      <label for="fournisseur">Fournisseurs</label>
                      {{form1.fournisseur}}
                      <!-- <select name="fournisseur" class="form-control" required id="fournisseur">
                          <option>Choissisez Fournisseurs</option>
                          <option value="{{fournisseur.pk}}">  {{fournisseur.nom}}</option>
                          
                      </select> -->
                  </div>
  
  
              </div>
  
              <div class="row">
                  <div class="form-group">
                      <label for="date_livraison"> Date de Livraison</label>
                      {{form1.date_livraison}}
                      <!-- <input type="datetime" name="date_livraison" required id="date_livraison" class="form-control" placeholder="Entrez la Date de Livraison ..."> -->
  
                  </div>
              </div>
  
              <div class="row py-3">
                  <div class="form-group ">
                    {{form1.description}}
                      <!-- <label for="description">Description</label> -->
                      <!-- <input type="text" name="description" required id="description" class="form-control" placeholder=" quartier du client"> -->
                      <!-- <textarea name="description" cols="109" required id="description" rows="8" placeholder="Entrez une Description du Produit"></textarea>
   -->
                  </div>
  
                  
              </div>
  
              <br><br>
              <!-- <div class="form-group col-md-2" >
                  <label for="total">Somme total a payer</label>
                  <input type="ReadOnly" name="total"  id="total" class=" bg-dark text-warning form-control" >
              </div> -->
  
              
  
  
              <div class="row  ">
  
                  <div class="col-md-6 offset-5 "><button type="submit" name="form1" id="com" class=" form-group btn btn-primary mx-auto">Ajouter Au Stock</button></div>
  
              </div>
          </form>
          
  
      </div>
  </div>
  </div>

  




  <!-- Modal de creation categorie -->

   <div class="modal fade" id="Supprimer" tabindex="-1" role="dialog" aria-labelledby="sexampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="sexampleModalLabel">Ajouter une Categorie</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                {% csrf_token %}
                <label for="nom"> Nom:</label>
                {{form3.nom}}

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annulez</button>
                    <button type="submit" name="form3" class="btn btn-success">Ajouter</button>
                </div> 
                </form>
            </div>

        </div>
    </div>
    </div>

  <!-- end Modal  categorie-->


  <!-- Modal de creation fourniseur-->

   <div class="modal fade" id="fournisseur" tabindex="-1" role="dialog" aria-labelledby="sexampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="sexampleModalLabel">Ajouter un Fournisseur</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                {% csrf_token %}
                <label for="nom_fournisseur"> Nom:</label>
                {{form2.nom}}
                <label for="prenom"> prenom:</label>
                {{form2.prenom}}
                <label for="contact"> Contact:</label>
                {{form2.contact}}
                <label for="email"> email:</label>
                {{form2.email}}
                <label for="Adresse"> Adresse:</label>
                {{form2.Adresse}}
                <label for="mode_payement"> Mode de Payement:</label>
                {{form2.mode_payement}}

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annulez</button>
                    <button type="submit" name="form2" class="btn btn-success">Ajouter</button>
                </div>
                </form>
            </div>

        </div>
    </div>
    </div>

  <!-- end Modal fourniseur -->



  

    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
  
  
</body>
</html>

